<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wcx.mapper.SrveyMapper">
	<!-- 添加 -->
	<insert id="addSurvey" parameterType="Survey">
		<selectKey keyProperty="wcxsid" keyColumn="wcxsid" resultType="Integer" order="BEFORE">
			select seq_wenchaxingsurvey_wcxsid.nextval from dual
		</selectKey>
			insert into wenchaxingsurvey(wcxsid,wcxsname,wcxtid,wcxintroduce,wcxbdate,wcxtime,status) values(#{wcxsid},#{wcxsname},1,#{wcxintroduce},sysdate,#{wcxtime})
	</insert>
	
</mapper>