@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
body {
    color: #333333;
    font-family: "microsoft yahei";
    font-size: 12px;
    margin: 0;
    min-width: 990px;
}
a {
    background: transparent none repeat scroll 0 0;
    color: #1ea0fa;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
.btn, .btnnew {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-default {
    background-color: #1ea0fa;
    border-color: #1ea0fa;
    color: #fff;
}
.btn-default:hover {
    background-color: #0078c8;
    border-color: #0078c8;
    color: #fff;
}
.btn-nobg {
    background-color: transparent;
    color: #1ea0fa;
}
.clearfix::before, .clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
/*创建调查问卷*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 964px;
}
.container {
    width: 1160px;
}
.user-info.hover .info-icon {
    background: rgba(0, 0, 0, 0) url(../../image/news1.png) no-repeat scroll center center;
}
.user-info.hover .out-icon {
    background: rgba(0, 0, 0, 0) url(../../image/exit1.png) no-repeat scroll center center;
}
.user-info.hover i.questions-icon {
    background: rgba(0, 0, 0, 0) url(../../image/home24-hover.png) no-repeat scroll center center;
}
/*颜色配置*/
.nav-header {
    background-color: #f7f8f8;
    font-size: 14px;
}
.nav-header .nav-wrapper {
    color: #30a6f5;
}
.nav-header .nav-wrapper .hd-title {
    font-size: 24px;
    font-style: normal;
    line-height: 80px;
}
i.questions-icon {
    background: rgba(0, 0, 0, 0) url(../../image/home24.png) no-repeat scroll center center;
    height: 20px;
    width: 20px;
}
.main-wrapper .create-box {
    margin: 50px auto 0;
    text-align: center;
    width: 964px;
}
.main-wrapper .create-box .fill__name-box label {
    color: #30a6f5;
    font-size: 22px;
    font-weight: bold;
    line-height: 2;
    text-align: right;
    width: 200px;
}
.main-wrapper .create-box .fill__name-box input[type="text"] {
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-left: 10px;
    padding-left: 10px;
    width: 660px;
}
.main-wrapper .create-box .create__btn-new {
    font-size: 26px;
    height: 46px;
    line-height: 1.6;
    margin: 40px 0 20px;
    width: 114px;
}
/*框框*/
.main-wrapper .create-box .figure {
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.15);
    display: inline-block;
    height: 170px;
    position: relative;
    width: 304px;
    z-index: 2;
}
.main-wrapper .create-box .pic-box {
    display: inline-block;
    float: left;
    height: 110px;
    margin: 28px 20px;
}
.main-wrapper .create-box .template-icon {
    background: rgba(0, 0, 0, 0.5) url(../../image/template-small.png) no-repeat scroll center center;
    width: 92px;
}
.main-wrapper .create-box .text-icon {
    background: rgba(0, 0, 0, 0) url(../../image/text-small.png) no-repeat scroll center center;
    width: 110px;
}
.main-wrapper .create-box .service-icon {
    background: rgba(0, 0, 0, 0) url(../../image/service-small.png) no-repeat scroll center center;
    width: 106px;
}
/*字体*/
.main-wrapper .create-box .details-wrapper {
    float: left;
    height: 100%;
    text-align: center;
    width: 48%;
}
/*字体淡化*/
.main-wrapper .create-box .details-wrapper .details-info {
    color: #808080;
    font-size: 12px;
    margin-top: 6px;
}
.main-wrapper .create-box .create__figure {
    margin-top: 50px;
}
.main-wrapper .create-box {
    margin-top: 70px;
    width: 1208px;
}
/*调查名称字体大小*/
.main-wrapper .create-box .fill__name-box label {
    font-size: 24px;
}
/*框框大小*/
.main-wrapper .create-box .fill__name-box input[type="text"] {
    height: 50px;
    width: 800px;
}
/*布局*/
.main-wrapper .create-box .create__btn-new {
    height: 50px;
    line-height: 1.8;
    width: 120px;
}
.main-wrapper .create-box .figure {
    height: 210px;
    width: 380px;
}
.main-wrapper .create-box .create__figure .figure:first-child + .figure {
    margin: 0 24px;
    width: 400px;
}
.main-wrapper .create-box .pic-box {
    height: 150px;
}
.main-wrapper .create-box .template-icon {
    background: rgba(0, 0, 0, 0) url(../../image/template-blue.png) no-repeat scroll center center;
    width: 124px;
}
.main-wrapper .create-box .text-icon {
    background: rgba(0, 0, 0, 0) url(../../image/text-blue.png) no-repeat scroll center center;
    width: 140px;
}
.main-wrapper .create-box .service-icon {
    background: rgba(0, 0, 0, 0) url(../../image/service-blue.png) no-repeat scroll center center;
    width: 134px;
}
.main-wrapper .create-box .pic-box {
    margin: 28px 20px 28px 26px;
}
.main-wrapper .create-box .details-wrapper .details-title {
    font-size: 24px;
    padding-top: 40px;
}
.main-wrapper .create-box .details-wrapper .details-info {
    font-size: 16px;
    margin-top: 8px;
}
.main-wrapper .create-box .details-wrapper .main__btn--new {
    font-size: 20px;
    height: 40px;
    line-height: 1.7;
    margin-top: 20px;
    width: 100px;
}
.main-wrapper .create-box .details-wrapper {
    text-align: center;
    width: 195px;
}
